     <div class="row">
            <div class="col-md-12 text-center" style="background:url('/images/wolf.png') center no-repeat; height:150px; background-size: contain;">
                <div class="text-center" style="padding-left:350px;">
                    <h1>Grand Howl</h1>
                    <h5><font style="color:#000;">Wolves howl to show they care, <br/>to call the pack together and to communicate</font></h5>
                </div>
            </div>
        </div>
        <hr/>
        <%= render :partial => 'search' %>
        <%= render :partial => 'about' %>
        <%= render :partial => 'latest' %>

    </div>

    <div class="col-md-12 text-center">
    <div class="panel panel-primary">
        <div class="panel-body">
        <%= render :partial => 'cubpromise' %>
        <%= render :partial => 'cublaw' %>
        </div>
    </div>
    </div>


