<table class="table table-striped table-hover">
  <thead>
    <tr class="primary">
      <td>
        &nbsp;
      </td>
    </tr>
  </thead>
</table>
<div class="row">
<div class="col-md-10">
<%= form_for(@badge, :html => { :id => "badge_form", :class => "form-horizontal",:multipart => true}) do |f| %>
  <% if @badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% @badge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="name" class="col-md-2 control-label">Name</label>
    <div class="col-md-10">
        <input type="text" class="form-control" id="name" name="badge[name]" placeholder="<%= @badge.name %>" value="<%= @badge.name %>">
    </div>
  <div style="clear:both; padding:10px;"></div>
    <label for="image" class="col-md-2 control-label">Image</label>
    <div class="col-md-10">
    <input type="file" class="form-control" id="image" name="badge[image]">
    </div>
  <div style="clear:both; padding:10px;"></div>

  <div class="form-group">
    <label for="description" class="col-md-2 control-label">Details</label>
    <div class="col-md-10">
        <textarea name="badge[requirements]" placeholder="Badge details" id="requirements_content" class="form-control" ><%= @badge.requirements %>
        </textarea>
    </div>
    <script>
        $(document).ready(function() {
          $('#requirements_content').summernote();
        });
    </script>
  </div>
    <br/><br/>
  <button onclick="$('#badge_form').submit(); return false;" class="btn btn-default pull-right">
   <%= 'Add' if @badge.id == nil %>
    <%= 'Update' if @badge.id != nil %>

  </button>
  </div>

<% end %>
</div>
<div class="col-md-2">
    <%= image_tag(@badge.image, :class => 'pull-right') if !@badge.image.blank? %>
</div>
</div>
<hr/>
