<img src="data:image/jpg;base64,<%= Base64.encode64(open(Rails.root.to_s + '/public/images/scouts.jpg'){ |io| io.read }) %>" width="100"></img>

<h3 class="pull-right"><%= @advancement.name %></h3>
<hr/>
<table class="table table-striped table-hover">
<% if !@advancement.advlevel.blank? %>
<tr>
    <td><strong>Level</strong></td>
    <td><%= @advancement.advlevel.name if !@advancement.advlevel.blank? %></td>
</tr>
<% end %>

<% if !@advancement.challenge.blank? %>
<tr>
    <td><strong>Challenge</strong></td>
    <td><%= @advancement.challenge.name if !@advancement.challenge.blank? %></td>
</tr>
<% end %>

<tr>
	<td><strong>Description</strong></td>
	<td><%=raw @advancement.description %></td>
</tr>
</table>
<hr/>
