<% @count = 0 %>
<% @entries.each do |entry| %>
<%=raw '<div class="row" style="padding-left:10px;padding-right:10px;">' if @count%3 == 0 %>
        <div class="col-sm-4 text-center">
            <div class="panel panel-primary" style="cursor:pointer; height:320px;" onclick="window.location.href = '/entries/<%= entry.slug %>'">
                <div class="panel-heading">
                     <%= entry.name %>
                </div>
                <div class="panel-body">
                    <%= entry.category.name %>  <%= " : " + entry.cattype.name if !entry.cattype.blank? %><br/>
                    <% if !entry.advancement.blank? %>
                    <%= entry.advancement.name %>  <%= " : " + entry.advancement.challenge.name if !entry.advancement.blank? and !entry.advancement.challenge.blank?    %><br/>
                    <% else %>
                    <br/><br/>
                    <% end %>
                    <%= image_tag(entry.raw.url(:landing), :class => 'img-rounded img-responsive') if !entry.raw.blank? %>
                    <%= image_tag(entry.category.image.url(:landing)) if !entry.category.image.blank? and entry.raw.blank? %>
                    <%= image_tag(entry.badge.image.url(:thumb),:title => entry.badge.name,:style=>"z-index:1000;position:absolute;right:0px;bottom:-15px;padding: 50px 30px;") if !entry.badge.blank? and !entry.badge.image.blank? %>
                    <% if entry.category.image.blank? %>
                        <br/><%= entry.readmore %> ...
                    <% end %>
                </div>
            </div>
        </div>
<%=raw "</div>" if (@count+1)%3 == 0 %>
<% @count += 1 %>
<% end %>

